*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color:rgb(182, 208, 226);
    padding-top: 8%;
}
.container{
    background-color: white;
    width: 20%;
    border-color: white;
    border-style: solid;
    border-radius: 5%;
}
img{
    margin-top: 4%;    
    height: 50%;
    width: 90%;
    border-radius: 8%;
    
}
h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h6{
    color: gray;
}
h6:hover{
    cursor: default;
    color: black;
}